body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-width: 600px) {
  .forgot-pass-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border p-5 shadow rounded w-50 */
    border: 1px solid #252525;
    border-radius: 8px;
    padding: 20px;
    /* background-color: ghostwhite; */
    width: 50%;
  }
}

@media screen and (min-width: 180px) {
  .forgot-pass-container {
    padding: 20px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* transform: translate(0, 68%); */
  }
}
